@{
    ViewBag.Title = "Bienvenido a MEMBooks";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <!--<h2>@ViewBag.Message</h2>-->
            </hgroup>
            <p>
                El concepto inicial de nuestro proyecto, se basa en desarrollar una aplicación para dispositivos móviles de
                 tecnología Android, que permita la conectividad entre usuarios que requieran libros escolares concretos y 
                usuarios que deseen regalar libros escolares de segunda mano que no usarán y que puedan ser útiles a otras personas.
                 <br>
                Resulta necesario crear una plataforma que permita reutilizar el material que puede volverse a usar.
                <br><br>
                Y por eso esta MEMBooks aqui de forma gratuita!
            </p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Introducción</h5>
        Descarguese aquí nuestro manual de uso para aprender a usar cuanto antes, de manera rapida y fácil, la
        aplicación de MEMBooks para dispositivos Android. En el encontrará una explicación detallada de todas 
        las funcionalidades y opciones disponibles.
        <a href="~/Descargas/MEMBooks_ManualUsuario.pdf" download>Proyecto MEMBooks</a>
    </li>

    <li class="two">
        <h5>Obtenga MEMBooks de forma gratuita</h5>
        En este enlace encontrará nuestra aplicación sin coste alguno y lista para instalarse en su dispositivo Android
        <a href="https://play.google.com/store/apps">MEMBooks en Google Play...</a>
    </li>

    <li class="three">
        <h5>Empiece a intercambiar libros y recursos escolares</h5>
        Miles de usuarios le esperan para reciclar y reutilizar libros para sus formaciones en escuelas e institutos
        <a href="~/Home/About">Acerca de nosotros…</a>
    </li>
</ol>
